a{
  text-decoration: none;
}

.header-bg {
  background-color: lightgreen;
  height: 90px;
}
.header {
  max-width: 960px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  width: 70px;
  height: 70px;
  color: seagreen;
  
  margin-top: 5px;
}

.icons ul {
  display: flex;
  align-items: center;
  margin-left: 0;
  margin-right: 10px;
}
.icon {
  color: seagreen;
  width: 35px;
  height: 35px;
}
#search {
  height: 45px;
  width: 400px;
  border-radius: 10px;
  border: 0.5px solid seagreen;
  text-align: center;
  outline: none;
}
#header-user:hover,#header-cart:hover{
  background-color: seagreen;
  color: white;
  border-radius: 20px;
}